<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footer</title>
</head>
<body>
	<footer th:fragment="footer1" >
		<div>
			<h1>Service Private Limited</h1>
			<h2>Provides all type of services</h2>
			<h3>Fell free to contact us</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ducimus doloremque dicta earum ad culpa libero nisi incidunt quaerat eum omnis dolores quo ab nesciunt pariatur ratione sit. Possimus voluptate necessitatibus dolore nisi corporis et unde consectetur perferendis dolorum dolores nam modi similique commodi debitis vitae asperiores est officia? Sapiente.</p>

		</div>


	</footer>
</body>
</html>